{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "strict": ["error", "never"],
    "no-unused-vars": "warn",
    "no-case-declarations": "warn"
  }
}
