* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.root {
  height: 100vh;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

.container {
  padding: 32px;
  background-color: #f9fafb;
  border: 1px dashed #dadce0;
  border-radius: 12px;
}

.cta {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
}

.a-button {
  text-decoration: none;
}

.a-button,
button {
  width: 100%;
  min-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  border: 1px solid #dadce0;
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.a-button:hover,
button:hover {
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
}

.a-button p,
button p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 14px;
}

.toast {
  margin-block: 32px;
}

.toast-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  list-style: none;
}

.toast-title {
  margin: 0;
}
